# Meta-Database
POSTGRES_USER=airflow
POSTGRES_PASSWORD=airflow
POSTGRES_DB=airflow

# Minio
MINIO_ROOT_USER=minio123
MINIO_ROOT_PASSWORD=minio123
MINIO_BUCKET_NAME='prices-bucket'

# dbt
DBT_PROFILES_DIR='/usr/app/dbt'
DBT_TARGET=dev